.hs-5 {
  height: 5% !important;
}

.hs-10 {
  height: 10% !important;
}

.hs-15 {
  height: 15% !important;
}

.hs-20 {
  height: 20% !important;
}

.hs-25 {
  height: 25% !important;
}

.hs-30 {
  height: 30% !important;
}

.hs-35 {
  height: 35% !important;
}

.hs-40 {
  height: 40% !important;
}

.hs-45 {
  height: 45% !important;
}

.hs-50 {
  height: 50% !important;
}

.hs-55 {
  height: 55% !important;
}

.hs-60 {
  height: 60% !important;
}

.hs-65 {
  height: 65% !important;
}

.hs-70 {
  height: 70% !important;
}

.hs-75 {
  height: 75% !important;
}

.hs-80 {
  height: 80% !important;
}

.hs-85 {
  height: 85% !important;
}

.hs-90 {
  height: 90% !important;
}

.hs-95 {
  height: 95% !important;
}

.hs-100 {
  height: 100% !important;
}

.hs-5px {
  height: 5px !important;
}

.hs-10px {
  height: 10px !important;
}

.hs-15px {
  height: 15px !important;
}

.hs-20px {
  height: 20px !important;
}

.hs-25px {
  height: 25px !important;
}

.hs-30px {
  height: 30px !important;
}

.hs-35px {
  height: 35px !important;
}

.hs-40px {
  height: 40px !important;
}

.hs-45px {
  height: 45px !important;
}

.hs-50px {
  height: 50px !important;
}

.hs-55px {
  height: 55px !important;
}

.hs-60px {
  height: 60px !important;
}

.hs-65px {
  height: 65px !important;
}

.hs-70px {
  height: 70px !important;
}

.hs-75px {
  height: 75px !important;
}

.hs-80px {
  height: 80px !important;
}

.hs-85px {
  height: 85px !important;
}

.hs-90px {
  height: 90px !important;
}

.hs-95px {
  height: 95px !important;
}

.hs-100px {
  height: 100px !important;
}

.hs-150px {
  height: 150px !important;
}

.hs-200px {
  height: 200px !important;
}

.hs-250px {
  height: 250px !important;
}

.hs-300px {
  height: 300px !important;
}

.hs-350px {
  height: 350px !important;
}

.hs-500px {
  height: 500px !important;
}